@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #6B4F3B;
  --color-secondary: #F5E9DA;
  --color-accent: #3E2C23;
  --color-background: #FAF6F1;
  --font-sans: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-accent);
}
